.container:first-child {
  margin-top: 0;
}
.container {
  width: 97%;
  height: 250px;
  margin-right: 5px;
  overflow: hidden;
  border-radius: 15px;
  /* box-shadow: 0px 1px 16px 6px #00000029; */
  display: flex;
  background-color: #ffffff91;
  cursor: pointer;
  border: 2px solid gainsboro;
  margin-top: 10px !important;
}

.image {
  border-radius: 15px;
  margin: 18px;
  max-width: 100%;
}

.texts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px;
}

.titr {
  font-family: "DIBA";
  font-size: 16pt;
  color: #002f6b;
}

.desc {
  font-family: "Ray";
  text-align: justify;
  margin-top: 14px;
  color: #323232;
  font-size: 16px;
  height: 107px;
  overflow: hidden;
  text-overflow: "ellipsis";
  white-space: "nowrap";
}

.imgContainer {
  width: 100%;
  display: flex;
  align-items: center;
}
