.container{
    margin: 0 auto;
    width: 1246px;
    margin-top: 140px;
    display: flex;
}

.sidebar{
    width: 30%;
}

.main{
    width: 70%;
    margin-right: 14px;
}

.newsImg{
height: 440px;
text-align: center;
position: relative;
}

.newsImg img{
    height: 100%;
    border-radius: 15px;
    max-width: 100%;
}

.newsTitle{
    position: absolute;
    width: 100%;
    backdrop-filter: blur(3px);
    font-family: 'RayBold';
    font-size: 19pt;
    border: 2px solid #ffffff5c;
    bottom: 12px;
    border-radius: 15px;
    padding: 24px 0;
    background-color: #ffffff9c;
    color: #002f6b;
    box-shadow: 0px 2px 11px #00000036;
}

.date{
    position: absolute;
    right: 4%;
    bottom: 89px;
    background-color: #6d6d6d;
    padding: 2px 11px;
    border-radius: 10px;
    font-family: 'RayBold';
    color: #ffffff;
    box-shadow: 0px 0px 2px #8080805c;
    border: 2px solid #ffffff75;
}

.newsText{
    font-family: 'Ray';
    font-size: 20px;
    margin-top: 45px;
    text-align: justify;
}

.newsText img{
max-width: 100%;
border-radius: 12px;
margin: 5px 0;
height: 100%;
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
  }