.pageNumber {
  font-family: "RayBold";
  padding: 0 11px;
  font-size: 15pt;
  cursor: pointer;
  margin: 0 2px;
  color: #002f6b;
  border: 0;
  border-radius: 50px;
}

.pageNumberActive {
  font-family: "RayBold";
  padding: 0 11px;
  font-size: 15pt;
  cursor: pointer;
  border: 2px solid #002f6b;
  border-radius: 50px;
  background-color: #002f6b;
  color: white;
  margin: 0 2px;
}


.pagination{
    display: flex;
    margin-top: 20px;
    justify-content: center;
    height: 32px;
  }
  