.container {
  width: 1246px;
  margin: 115px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 46%;
  border: 2px solid gainsboro;
  border-radius: 15px;
  padding: 17px;
  background-color: #ffffff38;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  box-shadow: 0px 1px 16px 6px #0000001a;
  position: relative;
  height: 250px;
  display: flex;
  align-items: center;
  margin-top: 25px;
}

.imgCard img {
  width: 100%;
  border-radius: 15px;
}

.imgCard {
  width: 215px;
  position: absolute;
  border-radius: 15px;
  top: -40px;
}

.titr {
  text-align: center;
  font-family: "DIBA";
  color: #002f6b;
  font-size: 16pt;
}

.rightSide {
  width: 38%;
  height: 100%;
}

.leftSide {
  font-family: "RayBold";
}
